// Container
.container {
  max-width: ($containerWidth + $containerPadding) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $containerSidePadding + px;

  @media (max-width: $breakpoint1450) {
    max-width: 1200px;
  }

  @media (max-width: $breakpoint992) {
    max-width: 970px;
  }

  @media (max-width: $breakpoint768) {
    max-width: 740px;
  }

  @media (max-width: $breakpoint480) {
    max-width: none;
  }
}

// Body Locked
body {
  font-family: "Inter", sans-serif;
  background: linear-gradient(180deg, #cccccc 0%, rgba(255, 255, 255, 0) 100%);
  &.locked {
    overflow: hidden;
  }
}

.btn,
.portfolio__hidden-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: $whiteColor;
  background-color: $redColor;
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    background-color: #d23c34;
    transition: all 0.3s ease;
  }
  @media (max-width: $breakpoint768) {
    // &:not(.menu__btn-mob) {
    //   width: 50%;
    // }
    width: 50%;
  }
  @media (max-width: $breakpoint480) {
    width: 100%;
  }
}

.menu__btn-mob.btn.modal__btn {
  width: 200px;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 63px;
  text-align: center;
  color: #000000;
  @media (max-width: 1200px) {
    font-size: 48px;
    line-height: 120%;
  }
  @media (max-width: $breakpoint768) {
    font-size: 40px;
    line-height: 120%;
  }
  @media (max-width: 640px) {
    font-size: 30px;
    line-height: 120%;
  }
  @media (max-width: $breakpoint480) {
    font-size: 22px;
  }
}

.subtitle {
  display: inline-block;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #000000;
  @media (max-width: $breakpoint768) {
    font-size: 32px;
    line-height: 120%;
    min-height: 64px;
  }
  @media (max-width: $breakpoint480) {
    font-size: 22px;
  }
}

.sale {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: $blackColor;
  position: relative;
  z-index: 1;
  width: 250px;
  &::before {
    content: "";
    position: absolute;
    // left: -14;
    background: #fbd823;
    border-radius: 21px 0px 0px 0px;
    width: 258px;
    height: 28px;
    z-index: -1;
  }
  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/checkbox.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 36px;
    height: 34px;
    height: 34px;
    left: -35px;
    z-index: 1;
  }
  @media (max-width: $breakpoint768) {
    &:not(.prices__sale):after {
      background-image: none;
    }
    &::before {
      border-radius: 0;
      width: 260px;
    }
    .prices__sale {
      font-size: 14px;
    }
  }
  @media (max-width: $breakpoint480) {
    &.prices__sale::after {
      display: none;
    }
    &.prices__sale::before {
      left: 50%;
      transform: translateX(-50%);
      max-width: 254px;
    }
  }
  // }
}

.hero__sale.sale::after,
.form__sale.sale::after {
  left: -22px;
}

.shake,
.modal__sale {
  transform: translate3d(0, 0, 0);
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  transition: transform 2s;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 142px;
  height: 28px;
  padding: 0 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: $blackColor;
  background-color: $yellowColor;
  padding: 0 13px;
  margin-top: 10px;
}

.arrow-top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  position: fixed;
  right: 20px;
  bottom: 30px;
  background-color: $yellowColor;
  border-radius: 10px;
  opacity: 0;
  z-index: 33;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

// Animations
// Fade
@keyframes shake {
  0% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

@keyframes progress-bar {
  0% {
    // transition: all .3s ease;
    width: 0%;
    // &.one {
    //   background-color: $redColor;
    //   color: $whiteColor;
    //   border: 2px solid $redColor;
    // }
  }

  20% {
    // transition: all .3s ease;
    width: 20%;
    // &.two {
    //   background-color: $redColor;
    //   color: $whiteColor;
    //   border: 2px solid $redColor;
    // }
  }

  40% {
    // transition: all .3s ease;
    width: 44%;
    // &.thee {
    //   background-color: $redColor;
    //   color: $whiteColor;
    //   border: 2px solid $redColor;
    // }
  }

  60% {
    // transition: all .3s ease;
    width: 65%;
    // .four {
    //   background-color: $redColor;
    //   color: $whiteColor;
    //   border: 2px solid $redColor;
    // }
  }

  80% {
    // transition: all .3s ease;
    width: 87%;
    // .five {
    //   background-color: $redColor;
    //   color: $whiteColor;
    //   border: 2px solid $redColor;
    // }
  }

  // 100% {
  //   // transition: all .3s ease;
  //   // -webkit-transform: translateX(-3px) rotate(-2deg);
  //   // transform: translateX(-3px) rotate(-2deg);
  //   width: 87%;
  // }
}

// @keyframes numbers {
//   0% {
//     .one {
//       background-color: orange;
//       color: $whiteColor;
//       border: 2px solid $redColor;
//     }
//     .two,
//     .three,
//     .four,
//     .five {
//       color: #000000;
//       background: #ffffff;
//       border: 2px solid #e5e4e1;
//     }
//   }

//   20% {
//     .two {
//       background-color: orange;
//       color: $whiteColor;
//       border: 2px solid $redColor;
//     }
//   }

//   40% {
//     .thee {
//       background-color: orange;
//       color: $whiteColor;
//       border: 2px solid $redColor;
//     }
//   }

//   60% {
//     .four {
//       background-color: orange;
//       color: $whiteColor;
//       border: 2px solid $redColor;
//     }
//   }

//   80% {
//     .five {
//       background-color: orange;
//       color: $whiteColor;
//       border: 2px solid $redColor;
//     }
//   }
// }

@keyframes one {
  20% {
    background-color: $redColor;
    color: $whiteColor;
    border: 2px solid $redColor;
  }
  100% {
    background-color: $redColor;
    color: $whiteColor;
    border: 2px solid $redColor;
  }
}

@keyframes two {
  40% {
    background-color: $redColor;
    color: $whiteColor;
    border: 2px solid $redColor;
  }
  100% {
    background-color: $redColor;
    color: $whiteColor;
    border: 2px solid $redColor;
  }
}

@keyframes three {
  60% {
    background-color: $redColor;
    color: $whiteColor;
    border: 2px solid $redColor;
  }
  100% {
    background-color: $redColor;
    color: $whiteColor;
    border: 2px solid $redColor;
  }
}

@keyframes four {
  80% {
    background-color: $redColor;
    color: $whiteColor;
    border: 2px solid $redColor;
  }
  100% {
    background-color: $redColor;
    color: $whiteColor;
    border: 2px solid $redColor;
  }
}

@keyframes five {
  100% {
    background-color: $redColor;
    color: $whiteColor;
    border: 2px solid $redColor;
  }
}
