.stages {
  margin-top: 150px;
  margin-bottom: 150px;
  @media (max-width: $breakpoint992) {
    margin-top: 75px;
    margin-bottom: 75px;
  }
  @media (max-width: $breakpoint768) {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.stages__title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  max-width: 1139px;
  min-height: 83px;
  background-color: $yellowColor;
  margin: 0 auto;
  @media (max-width: $breakpoint768) {
    font-size: 28px;
    padding: 10px 15px;
  }
  @media (max-width: 520px) {
    font-size: 24px;
  }
  @media (max-width: $breakpoint480) {
    font-size: 22px;
    padding: 10px 10px;
  }
}

.stages__progress {
  margin-top: 100px;
  @media (max-width: $breakpoint768) {
    margin-top: 50px;
  }
}

.stages__progress-numbers {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 23px;
    left: 7%;
    width: 87%;
    height: 2px;
    background-color: #e5e4e1;
    z-index: -3;
    @media (max-width: $breakpoint768) {
      display: none;
    }
  }
  @media (max-width: $breakpoint768) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}

.active.stages__progress-numbers {
  &::after {
    content: "";
    position: absolute;
    top: 23px;
    left: 7%;
    width: 87%;
    height: 2px;
    background-color: $redColor;
    z-index: -2;
    animation-name: progress-bar;
    -webkit-animation-name: progress-bar;
    -webkit-animation-duration: 3.5s;
    animation-duration: 3.5s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transition: transform 3.5s;
    @media (max-width: $breakpoint768) {
      display: none;
    }
  }
}

.stages__progress-number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (max-width: $breakpoint768) {
    // display: flex;
    // flex-direction: row;
    // gap: 20px;
  }
}

.stages__progress-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  z-index: -1;
}
.active.one,
.active.two,
.active.three,
.active.four,
.active.five {
  color: #000000;
  background: #ffffff;
  border: 2px solid #e5e4e1;
  // animation-name: numbers;
  // -webkit-animation-name: numbers;
  // -webkit-animation-duration: 3.5s;
  // animation-duration: 3.5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  transition: transform 3.5s;
  animation-fill-mode: forwards;
}

.one,
.two,
.three,
.four,
.five {
  // animation-name: numbers;
  // -webkit-animation-name: numbers;
}

.active.one {
  animation-name: one;
  -webkit-animation-name: one;
  animation-duration: 3.5s;
  animation-delay: 0s;
}

.active.two {
  animation-name: two;
  -webkit-animation-name: two;
  animation-duration: 3.5s;
  animation-delay: 0.5s;
}

.active.three {
  animation-name: three;
  -webkit-animation-name: three;
  animation-duration: 3.5s;
  animation-delay: 1s;
}

.active.four {
  animation-name: four;
  -webkit-animation-name: four;
  animation-duration: 3.5s;
  animation-delay: 1.5s;
}

.active.five {
  animation-name: five;
  -webkit-animation-name: five;
  animation-duration: 3.5s;
  animation-delay: 2s;
}

.stages__progress-text {
  margin-top: 25px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.05em;
  color: $blackColor;
  @media (max-width: $breakpoint992) {
    font-size: 15px;
    line-height: 120%;
  }
  @media (max-width: $breakpoint768) {
    margin-top: 10px;
    font-size: 16px;
  }
}
